
        /* 
        100% - whole
        100vw - the whole width
        10vw -> 10%

        */

        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
        }

        html {
            font-size: 16px;
        }

        html, body {
            overflow-x: hidden;
        }
        body {
            width:100vw;
            height: 100vh;
            background-image: url('../images/hero_image.jfif');
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Raleway;
        }
        header {
            text-align: center;
            padding:15px;
            background-color: rgba(151, 78, 235, 0.34);
        }
        .nav-menu{
            display: flex;
            justify-content: space-around;
            margin:15px auto;
        }
        .nav-menu li {
            list-style: none;
        }
        .nav-menu li a {
            text-decoration: none;
            font-size:20px;
            text-transform: uppercase;
            color:#333;
            font-weight: 600;
        }
        .container {
            position: relative;
            height: 100vh;
        }
        .box {
            font-size: 25px;
            /* border:1em solid rgba(161, 248, 161, 0.35); */
            position: absolute;
            width: 100%;
            top:15%;
            text-align: center;
            height: 300px !important;
            /* background-color: rgba(250, 128, 114, 0.35); */
            padding:15px 0;
        }
        .skills {
           display: flex;
           justify-content: space-around;
        }
        .skills li {
            display: inline-block;
            margin-right: 50px;
            text-transform: uppercase;
            font-weight:600;
            background-color: purple;
            color:white;
            padding:10px;
            margin:10px auto;
            width:150px;
            font-size:22px;
            box-shadow: 3px 3px 2px 1px rgb(151, 78, 235);
           
        }
        h2 {
            margin:10px;
            font-size:2.5rem;
            color:rgb(121, 49, 238)
        }
        span {
            font-size:3.5rem;
            color:rgb(89, 238, 89);
    
        }
        footer {
            padding:30px;
            background-color: rgba(151, 78, 235, 0.34);
            text-align: center;
            color:black;
        }
        .social-links {
            display: flex;
            justify-content: space-around;
            text-align: center;;
        }
        
        i {
            font-size:48px;
            margin:10px;
        }
        
        .footer-wrapper{
            text-align: center;;
        }
        .fa-github-square {
            color:#333;
        }
        .fa-linkedin{
            color:#0077b5;
        }
        .fa-twitter-square{
            color:#1da1f2
        }
      